.body {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      overflow: hidden;
    }

    .col-xs-5ths,
    .col-sm-5ths,
    .col-md-5ths,
    .col-lg-5ths {
      position: relative;
      min-height: 1px;
      padding-right: 2px;
      padding-left: 2px;
    }

   

    .row {
      margin: 0px;
    }

    .card-header {
      background-color: #c6c6c6;
    }

    .card-image {
      overflow: hidden;

    }

    .card-image img {
      max-width: 100%;
      display: block;

    }

    .card {
      background-color: #FFF;
      box-shadow: 0 0 0 1px rgba(#000, .05), 0 20px 50px 0 rgba(#000, .1);
      border-radius: 15px;
      overflow: hidden;
      position: relative;
      transition: .15s ease-in;
      max-width: 300px;
      max-height: 320px;

    }

    .card-image {
      border-radius: 10px;
      overflow: hidden;
      max-width: 300px;
      max-height: 150px;
    
    }

    .card-header {
      margin-top: 10px;
      display: flex;
      align-items: center;
      background-color: transparent;

    }

    .icon-button {
      border: 0;
      background-color: #fff;
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      font-size: 1.25rem;
      transition: .25s ease;
      box-shadow: 0 0 0 1px rgba(#000, .05), 0 3px 8px 0 rgba(#000, .15);
      z-index: 1;
      cursor: pointer;
      color: #565656;
    }

    .icon-button svg {
      width: 1em;
      height: 1em;
    }

    .icon-button {
      float: right;
    }
    .vtext{
      writing-mode: vertical-rl;
      text-orientation: upright;
      letter-spacing: 10px;
      font-size: 10px;
      font-weight: bold;
    }
